/***************************************/
/* Everything that has to do with flex */
/* .col, .row, etc                     */
/***************************************/

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}