/*************************************/
/* Font handling is in a different   */
/* file for a better overview about  */
/* the used fonts.                   */
/*************************************/

@font-face {
    font-family: 'RajdhaniMedium'; /*a name to be used later*/
    src: url('../resources/fonts/Rajdhani-Medium.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'RajdhaniRegular'; /*a name to be used later*/
    src: url('../resources/fonts/Rajdhani-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'RajdhaniLight'; /*a name to be used later*/
    src: url('../resources/fonts/Rajdhani-Light.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'NovelSansProExtraLight'; /*a name to be used later*/
    src: url('../resources/fonts/novelSans/NovelSansPro_ExtraLight.otf'); /*URL to font*/
}

body, button {
    font-family: 'RajdhaniLight';
}
