/*************************************/
/* CSS handling the enkoInn logo     */
/* (or possibly other logos as well) */
/*************************************/

.logo {
    width: 400px;
    align-self: center;
}


/* Every css related to sections of the index html has its own responsive part */
/* This is to ensure responsive-relevant css can be found fast */
/* RESPONSIVE CSS */
/* PHONE */
@media only screen and (max-width: 599px) { 
    .logo {
        width: 260px;
    }
}
/* TABLETS */
@media only screen and (max-width: 806px) { 
    .logo {
        width: 300px;
    }
}
/* SMALL DESKTOPS */
@media only screen and (max-width: 1200px ) { 
    
}