/*************************************/
/* CSS related only to alter pure    */
/* html tags, no classes or ids      */
/*************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
@-moz-document url-prefix() {
    html,body{overflow: hidden !important;}
}
body {
    color: #f9f9f9;
    background-color: #161616;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: 100% 100%;
    background-image: url("../resources/images/background_blurry.png");
}
a {
    color: #16BB96;
    text-decoration: underline;
}
a:hover {
    cursor: pointer;
}
button {
    border: none;
    margin: 10px 10px;
    font-family: 'RajdhaniMedium';
    border-radius: 50px;
    background-color: #16BB96;
    color: #f9f9f9;
    width: 500px;
    height: 70px;
    align-self: center;
}
button:hover {
    cursor: pointer;
}
p {
    font-size: 20pt;
    padding: 10px 10px;
}
h1 {
    text-align: center;
    font-family: 'RajdhaniMedium';
    padding-left: 10px;
}
h2 { 
    text-align: center;
    font-family: 'RajdhaniMedium';
}
h3 {
    text-align: center;
    font-family: 'RajdhaniMedium';
    padding-left: 10px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
span {
    cursor: pointer;
}
hr {
    height: 1px;
    margin: 10px 0px 10px 0px;
    stroke: none;
    background-color: #f9f9f9;
    border: solid 1px #f9f9f9;
}

.alternate-hr {
    width: 100%;
    height: 2px;
    margin: 10px 0px 10px 0px;
    border: none;
    background: rgb(249,249,249);
    background: radial-gradient(circle, rgba(249,249,249,1) 0%, rgba(249,249,249,0.5) 50%, rgba(255,255,255,0) 100%);
    display: none;
}


/* Every css related to sections of the index html has its own responsive part */
/* This is to ensure responsive-relevant css can be found fast */
/* RESPONSIVE CSS */
/* RESPONSIVE CSS */
/* PHONE */
@media only screen and (max-width: 599px) { 
    body {
        overflow-y: scroll;
    }
    button {
        width: 300px;
    }
    .alternate-hr {
        display: block;
    }
}
/* TABLETS */
@media only screen and (min-width: 600px) and (max-width: 806px) { 
    body {
        overflow-y: scroll;
    }
    .alternate-hr {
        display: block;
    }
}
/* SMALL DESKTOPS */
@media only screen and (min-width: 807px) and (max-width: 1200px ) { 
    button {
        width: 400px;
    }
    .alternate-hr {
        display: none;
    }
}