/*************************************/
/* CSS related to general modal stuff*/
/*************************************/

.modal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(123, 204, 207);
    position: fixed;
    overflow: hidden;
    z-index: 4;
}

.modal-hide-button {
    font-size: 30pt;
}

/* Every css related to sections of the index html has its own responsive part */
/* This is to ensure responsive-relevant css can be found fast */
/* RESPONSIVE CSS */
/* RESPONSIVE CSS */
/* PHONE */
@media only screen and (max-width: 599px) { 
    .modal-hide-button {
        font-size: 24pt;
    }
}
/* TABLETS */
@media only screen and (max-width: 806px) { 

}
/* SMALL DESKTOPS */
@media only screen and (max-width: 1200px ) { 

}