/*******************************************/
/* CSS related to bottom row which contains*/
/* impressum, links to twitch, etc.        */
/*******************************************/

#bottomRow {
    bottom: 0px;
    position: absolute;
    margin: 0px 0px 15px 15px;
}

#bottomRow > span {
    font-size: 30pt;
    margin-top: auto;
    margin-bottom: auto;
}

#bottormRow > p {
    font-size: 16pt;
}


/* Every css related to sections of the index html has its own responsive part */
/* This is to ensure responsive-relevant css can be found fast */
/* RESPONSIVE CSS */
/* PHONE */
@media only screen and (max-width: 599px) { 
}
/* TABLETS */
@media only screen and (max-width: 806px) { 
    #bottomRow {
        position: initial;
        bottom: initial;
        margin-top: 40px;
    }
    #bottormRow > p {
        font-size: 16pt;
    }
}
/* SMALL DESKTOPS */
@media only screen and (max-width: 1200px ) { 
    #bottormRow > p {
        font-size: 14pt;
    }
}