/*************************************/
/* CSS related to the contact form   */
/*************************************/


input {
    border: 1px solid rgba(22, 187, 151, 0.658);
    border-radius: 5px;
    background-color: #191919;
    height: 30px;
    font-family: 'RajdhaniMedium';
    color: #f9f9f9;
    width: 200px;
}

textarea {
    border: 1px solid rgba(22, 187, 151, 0.658);
    border-radius: 5px;
    background-color: #191919;
    font-family: 'RajdhaniMedium';
    color: #f9f9f9;
}

select {
    border: 1px solid rgba(22, 187, 151, 0.658);
    border-radius: 5px;
    background-color: #191919;
    color: #f9f9f9;
    font-family: 'RajdhaniMedium';
    width: 150px;
    height: 30px;
}

textarea:active {
    border: 1px solid #16BB96;
}
input:active {
    border: 1px solid #16BB96;
}
select:active {
    border: 1px solid #16BB96;
}

option {
    color: #f9f9f9;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f9f9f99f;
    opacity: 1; /* Firefox */
    font-family: 'RajdhaniMedium';
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f9f9f99f;
    font-family: 'RajdhaniMedium';
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #f9f9f99f;
    font-family: 'RajdhaniMedium';
}

#contact-formular {
    display: none;
    overflow-y: scroll;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url("../../resources/images/background_blurry.png");
}

#contact-formular-container {
    width: 80%;
    margin: 0 auto;
}

#contact-formular-container > #button-row > h3 {
    font-size: 28pt;
}

#contact-text {
    margin-top: 2%;
    margin-bottom: 2%;
}

#contact-formular-container > .col > p {
    font-size: 18pt;
    padding: 0 0 0 50px;
}

#contact-formular-container > #button-row {
    justify-content: space-between;
    padding: 30px 40px 0 40px;
    margin-bottom: 1%;
}

#contact-formular-container > .col > .row {
    margin: 20px 0 20px 0;
}

#contact-inputs {
    padding: 0 0 0 30px;
}

#contact-inputs > .row {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.subject-formular {
    padding: 0 20px 0 20px;
}

.text-formular {
    width: 400px;
    padding: 0 20px 0 20px;
}

.text-formular > textarea {
    height: 200px;
}

#contact-form-button {
    margin-top: 2%;
}

.contact-separator {
    display: flex;
    height: 2px;
    background-image: radial-gradient(#F9f9f9, transparent);
    border-radius: 1px;
}

/* Every css related to sections of the index html has its own responsive part */
/* This is to ensure responsive-relevant css can be found fast */
/* RESPONSIVE CSS */
/* PHONE */
@media only screen and (max-width: 599px) { 
    #contact-formular-container > .col > p {
        font-size: 12pt;
    }
    #contact-formular-container > #button-row > h3 {
        font-size: 22pt;
    }
}
/* TABLETS */
@media only screen and (max-width: 806px) and (min-width: 600px) { 
    #contact-formular-container > .col > p {
        font-size: 14pt;
    }
    #contact-formular-container > #button-row > h3 {
        font-size: 26pt;
    }
}
/* SMALL DESKTOPS */
@media only screen and (max-width: 1200px ) and (min-width: 807px) { 
    #contact-formular-container > .col > p {
        font-size: 16pt;
    }
}
