/******************************************/
/* FIVE PILLARS CSS FILE                  */
/* Everything related to handling the     */
/* five pillars should go in here         */
/* (e.g. icons, text, modals, etc)        */
/******************************************/

/******************************************/
/* CIRCULAR MENU                          */
/* CSS necessary to make a half circular  */
/* menu                                   */

#fivePillars {
    /*border: 1px solid green;*/
}

#above-two {
    transform: translateX(-30px);
}

#above-one {
    transform: translateX(0px);
}

#current {
    transform: translateX(30px);
}

#below-one {
    transform: translateX(0px);
}

#below-two {
    transform: translateX(-30px);
}



/* Every css related to sections of the index html has its own responsive part */
/* This is to ensure responsive-relevant css can be found fast */
/* RESPONSIVE CSS */
/* PHONE */
@media only screen and (max-width: 599px) { 

}
/* TABLETS */
@media only screen and (max-width: 806px) { 
    #above-two {
        transform: unset;
    }
    
    #above-one {
        transform: unset;
    }
    
    #current {
        transform: unset;
    }
    
    #below-one {
        transform: unset;
    }
    
    #below-two {
        transform: unset;
    }
}
/* SMALL DESKTOPS */
@media only screen and (max-width: 1200px ) { 

}