/*************************************/
/* CSS related to the modal that     */
/* appears when a five pillar icon   */
/* is clicked ("Find out more ...")  */
/*************************************/

#fivePillarsModal {
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    display: none;
    overflow-y: scroll;
    background: #161616;
    border: groove 2px #16BB96;
}

#fivePillarsModal > .row {
    justify-content: flex-end;
    margin-top: 25px;
    margin-right: 25px;
}

#fivePillarsModal > h1 {
    font-size: 30pt;
}

#fivePillarsModal > #modal-content {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#fivePillarsModal > #modal-content > p {
    font-size: 20pt;
}

/* Every css related to sections of the index html has its own responsive part */
/* This is to ensure responsive-relevant css can be found fast */
/* RESPONSIVE CSS */
/* PHONE */
@media only screen and (max-width: 599px) { 
    #fivePillarsModal > #modal-content {
        width: 90%;
    }
    #fivePillarsModal > #modal-content > p {
        font-size: 14pt;
    }
    #fivePillarsModal > h1 {
        font-size: 24pt;
    }
}
/* TABLETS */
@media only screen and (max-width: 806px) { 
    #fivePillarsModal > #modal-content {
        width: 80%;
    }
    #fivePillarsModal > #modal-content > p {
        font-size: 18pt;
    }
    #fivePillarsModal > h1 {
        font-size: 28pt;
    }
}
/* SMALL DESKTOPS */
@media only screen and (max-width: 1200px ) { 
    #fivePillarsModal > #modal-content {
        width: 75%;
    }
}