/*************************************/
/* CSS related to the container with */
/* the five pillars (the "icons") and*/
/* the "we support you" text.        */
/*************************************/

#fivePillarsContainer {
    justify-content: space-evenly;
    align-self: center;
    margin-left: 90px;
    margin-right: 90px;
}

#fivePillarsLeftText {
    width: 30%;
    margin-right: 5vw;
}

#fivePillarsLeftText > h1 {
    text-align: left;
    font-size: 36pt;
    padding: 0;
}

#fivePillarsLeftText > p {
    text-align: left;
    font-size: 30pt;
    padding: 0;
}

#fivePillars {
    width: 60%;
    margin-left: 5vw;
    margin-top: 75px;
}

/* Usually ul/li defintion would go into the "main.css" file, but its only used for
this part of the website so its used here instead */
ul {
    height: 75vh;
    justify-content: space-evenly !important;
    list-style-type: none;
    align-items: flex-end;
}
li {
    font-size: 28pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li > span {
    text-align: center;
    margin-bottom: auto;
    margin-left: 10px;
}

li > .col {
    width: 60%;
}

li > .col > h3 {
    font-size: 20pt;
    text-align: right;
    padding-right: 10px;
    text-align: right;
    opacity: 0;
}

li > .col > .description {
    font-size: 16pt;
    text-align: right;
    opacity: 0;
} 

/* Every css related to sections of the index html has its own responsive part */
/* This is to ensure responsive-relevant css can be found fast */
/* RESPONSIVE CSS */
/* PHONE */
@media only screen and (max-width: 599px) { 
    #fivePillarsContainer {
        margin-left: 10px;
        margin-right: 10px;
    }
    #fivePillars {
        width: 90%;
    }
}
/* TABLETS */
@media only screen and (max-width: 806px) { 
    #fivePillarsContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-right: 30px;
        margin-left: 30px;
    }
    #fivePillarsLeftText {
        width: auto;
        margin-right: unset;
    }
    #fivePillarsLeftText > h1 {
        font-size: 30pt;
    }
    
    #fivePillarsLeftText > p {
        font-size: 24pt;
    }
    #fivePillars {
        margin-left: unset;
        width: unset;
    }
    li {
        flex-direction: row-reverse;
    }
    li > .col {
        width: initial;
    }
    li > .col > .description {
        opacity: 1 !important;
        text-align: left;
    }
    li > .col > h3 {
        text-align: left;
        opacity: 1 !important;
    } 
    ul {
        height: auto;
    }
}
/* SMALL DESKTOPS */
@media only screen and (max-width: 1200px ) and (min-width: 807px) { 
    #fivePillarsLeftText {
        width: 40%;
    }
    #fivePillarsLeftText > h1 {
        font-size: 26pt;
    }
    #fivePillarsLeftText > p {
        font-size: 26pt;
    } 
    li > .col > .description {
        font-size: 14pt;
    } 
    li > .col > h3 {
        font-size: 20pt;
    }
    li {
        height: 80px;
    }
    li > .col {
        position: relative;
        width: 100%;
    }
    #fivePillars {
        margin-top: 30px;
        margin-left: 0px;
    }
    .description {
        margin-right: 25px;
        font-size: 16pt;
        position: relative;
    }
    .headline {
        margin-right: 25px;
        font-size: 18pt;
        position: relative;
    }
    #fivePillarsLeftText {
        margin-top: 0px;
    }
    .modal-link {
        position: relative;
        z-index: 500;
    }
    #welcomeModal {
        background-size: 90% 100%;
        background-size: cover;
    }
}

@media only screen and (max-width: 1500px ) and (min-width: 1307px) { 
    li {
        height: 100px;
    }
    li > .col {
        position: relative;
        width: 100%;
    }
    #fivePillars {
        margin-top: 30px;
        margin-left: 0px;
    }
    .description {
        margin-right: 25px;
        font-size: 16pt;
    }
    .headline {
        margin-right: 25px;
        font-size: 18pt;
    }
    #fivePillarsLeftText {
        margin-top: 0px;
    }
    .modal-link {
        position: relative;
        z-index: 500;
    }
    #welcomeModal {
        background-size: 90% 100%;
        background-size: cover;
    }
}