/*************************************/
/* CSS related to the row where the  */
/* logo and the 'Get support now'    */
/* button is.                        */
/*************************************/

#logoRow {
    justify-content: space-between;
    padding: 15px 10px 0px 10px;
}

#logoRow > .logo {
    width: 300px;
}

#logoRow > button {
    height: 50px;
}


/* Every css related to sections of the index html has its own responsive part */
/* This is to ensure responsive-relevant css can be found fast */
/* RESPONSIVE CSS */
/* PHONE */
@media only screen and (max-width: 599px) { 
    #logoRow {
        flex-direction: column;
    }
    #logoRow > button {
        width: 300px;
    }
}
/* TABLETS */
@media only screen and (max-width: 806px) { 

}
/* SMALL DESKTOPS */
@media only screen and (max-width: 1200px ) { 
    
}