/*************************************/
/* CSS related to the welcoming image*/
/* (only exactly for it, not for     */
/*  general stuff                    */
/*************************************/

#welcomeModal {
    justify-content: space-around;
    align-content: center;
    background-size: 100% 100%;
    background-image: url('../../resources/images/welcomeModal.png');
}

#welcomeLogo {
    margin-bottom: -10px;
}

#modalHeader > h2 {
    font-size: 32pt;
    color: rgba(255, 255, 255, 0.95);
}
#modalHeader > h3 {
    font-size: 16pt;
    color: rgba(255, 255, 255, 0.90);
}

#discordButton, #toMainContentButton {
    z-index: 5;
}
#discordButton {
    margin-left: 15px;
}
#discordButton > span {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30pt;
}
#toMainContentButton {
    margin-right: 15px;
}

/* Every css related to sections of the index html has its own responsive part */
/* This is to ensure responsive-relevant css can be found fast */
/* RESPONSIVE CSS */
/* PHONE */
@media only screen and (max-width: 599px) { 
    #modalButtons {
        flex-direction: column;
    }
    #modalHeader > h2 {
        font-size: 20pt;
    }
    #modalHeader > h3 {
        font-size: 10pt;
    }
    #welcomeModal {
        background-image: url('../../resources/images/welcomeModal_phone.png');
    }
}
/* TABLETS */
@media only screen and (min-width: 600px) and (max-width: 806px) { 
    #modalButtons {
        flex-direction: column;
    }
    #modalHeader > h2 {
        font-size: 24pt;
    }
    #modalHeader > h3 {
        font-size: 14pt;
    }
    #welcomeModal {
        background-image: url('../../resources/images/welcomeModal.png');
    }
}
/* SMALL DESKTOPS */
@media only screen and (min-width:807px) and (max-width: 1200px ) { 
    #modalHeader > h3 {
        font-size: 14pt;
    }
    #welcomeModal {
        background-image: url('../../resources/images/welcomeModal.png');
    }
}
