@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?n9at7h');
  src:  url('fonts/icomoon.eot?n9at7h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n9at7h') format('truetype'),
    url('fonts/icomoon.woff?n9at7h') format('woff'),
    url('fonts/icomoon.svg?n9at7h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-technical:before {
  content: "\e907";
}
.icon-cross:before {
  content: "\e902";
}
.icon-gear:before {
  content: "\e903";
}
.icon-financial:before {
  content: "\e904";
}
.icon-visual:before {
  content: "\e905";
}
.icon-conceptual:before {
  content: "\e906";
}
.icon-discord-black:before {
  content: "\e900";
}
.icon-discord-white:before {
  content: "\e901";
  color: #fff;
}
.icon-images:before {
  content: "\e90e";
}
.icon-technical-alternative:before {
  content: "\ea81";
}
.icon-twitch:before {
  content: "\ea9f";
}
